has($item)
	&__{$item}
		{block}

is($item)
	&.is-{$item}
		{block}

responsive($breakpoint = 992px)
	@media (max-width: $breakpoint)
		{block}

display-flex($horizantal = flex-start, $vertical = flex-start)
	display: flex
	flex-wrap: wrap
	justify-content: $vertical
	align-items: $horizantal

transition-all($time, $function = cubic-bezier(0, 0.35, 0.5, 1) )
	transition: all $time $function
