$trackWidth = 2px
$thumbDimater = 16px

input[type="range"]
	appearance: none
	margin: 0
	padding: 0
	width: 100%
	background: transparent
	transition: all 0.2s ease-in-out

	&::-webkit-slider-runnable-track
		height: $trackWidth
		background-color: $dark
		cursor: pointer
		transition: all 0.2s ease-in-out

	&:hover::-webkit-slider-runnable-track
		background-color: $blue

	&::-moz-range-track
		height: $trackWidth
		background-color: $dark
		cursor: pointer
		transition: all 0.2s ease-in-out

	&::-webkit-slider-thumb
		appearance: none
		margin-top: -($thumbDimater/2)
		width: $thumbDimater
		height: $thumbDimater
		border-radius: $thumbDimater
		background-color: $green
		box-shadow: 0 5px 5px -.5px alpha($dark, 70%), inset 0 -1px alpha($dark, 40%)
		cursor: pointer
		transition: all 0.2s ease-in-out
		&:hover
		&:focus
		&:active
			background-color: $blue
			box-shadow: 0 7px 7px -.5px alpha($dark, 70%), inset 0 -1px alpha($dark, 40%)
			transform: scale(1.1)
		+responsive()
			appearance: none
			margin-top: -(($thumbDimater + 5px)/2)
			width: $thumbDimater + 5px
			height: $thumbDimater + 5px
			border-radius: $thumbDimater + 5px

	&::-moz-range-thumb
		width: $thumbDimater
		height: $thumbDimater
		border: 0
		border-radius: $thumbDimater
		background-color: $green
		box-shadow: 0 5px 5px -.5px alpha($dark, 70%), inset 0 -1px alpha($dark, 40%)
		cursor: pointer
		transition: all 0.2s ease-in-out
		&:hover
		&:focus
		&:active
			background-color: $blue
			box-shadow: 0 7px 7px -.5px alpha($dark, 70%), inset 0 -1px alpha($dark, 40%)
			transform: scale(1.1)
		+responsive()
			width: $thumbDimater + 5px
			height: $thumbDimater + 5px
			border-radius: $thumbDimater + 5px

	&::-moz-range-progress
		height: 2px
		background-color: $blue
		transition: all 0.2s ease-in-out

	&:focus
		outline: 0
