@font-face
	font-weight: normal
	font-family: "Raleway"
	src: url(../font/Raleway-Regular.ttf)

@font-face
	font-weight: bold
	font-family: "Raleway"
	src: url(../font/Raleway-Bold.ttf)

html
	font-family: "Raleway"
